// Required meta tags 
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  CSS 
link(href="/css/bootstrap.css", rel="stylesheet")
link(rel="stylesheet", href="/css/add.css")
// favicon
link(rel="icon", href)
// font awesome css
link(rel="stylesheet", href="/font-awesome/css/font-awesome.css")
// document title
title Stay Clean
// Grid row
.row.bg-light
  // Grid column for side bar
  .col-lg-3
    // side bar
    .bg-white.shadow(style="height: 97vh")
      // heading
      h4.text-center.pt-2 Stay Clean Initiative
      h6.text-center.
        
        "Contact Us today, We manage your wastes with love"
        
      // logged in user
      .shadow-sm.p-2.m-4.bg-light.rounded Bahati here
      // side bar navigations
      ul
        li
          a.text-dark(href="/dashboard")
            i.fa.fa-dashboard.m-3
            | Dashboard
        li
          a.text-dark(href="/orders")
            i.fa.fa-phone.m-3
            | Orders
        li
          a.text-dark(href="/employee")
            i.fa.fa-users.m-3
            | Human Resource
        li
          a.text-dark(href="/dashboard/trucks")
            i.fa.fa-truck.m-3
            | Trucks
        li
          a.text-dark(href="/dashboard/finance")
            i.fa.fa-money.m-3
            | Finance
        form(method="post" action='/logout') 
              button.btn.btn-danger.btn-block.col-lg-5.m-5(type='submit') LOGOUT
  // Grid column for dashboard area
  .col-lg-9.bg-light
    // relative of dashboard
    .shadow-none.mx-4.p-2.bg-success.rounded.text-white(style="margin: 10px 1px -30px 1px; position: relative").
      
      Orders Summary
      
    // dashboard area
    .m-2.bg-white.shadow.rounded(style="height: 92vh")
      // ADD employee
      .p-5
        // add driver btn
        a.btn.btn-secondary(href="/orders/createOrders")
          | ADD ORDER +
          i.fa.fa-phone
        
        form.pull-right.search(action='/employee')
                div.row.mx-4
                    div.col-lg-10
                        input.form-control(name='role' placeholder="Enter your search term(role) ...")
                    div.col-lg-2
                        input.btn.btn-secondary.btn-block(type="submit", value='Search')

      table.table
        thead.thead-dark.mx-5
            tr
                th Full Name 
                th Location
                th Phone Contact
                th National Id 
                th Time 
                th Type of Wastes 
                th Number of Trucks 
                th Services Required
                th Type of Request
        tbody
            if orders.length
            each order in orders
                tr
                    td #{order.lastname +' '+ order.firstname}
                    td #{order.location}
                    td #{order.phone}
                    td #{order.nationalId}
                    td #{order.time}
                    td #{order.typeOfWastes}
                    td #{order.numberOfTrucks}
                    td #{order.serviceRequired}
                    td #{order.typeOfRequest}